body {
  background-color: #1e2336;
  color: #fff;
}
/* header  */
header {
  background-image: url("../images/img1.webp"); 
  background-size: cover;
  width: 100%;
  height: 500px;
}
.navbar{
  height: 100px;
}
.nav-item{
height: 50px;
}
.navbar-brand{
  color: #2978b5;
  font-weight: 800;
  height: 50px;
  
}
.navbar-brand:hover{
 
  color: #2978b5;


}
.nav-link{
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid auto;
}
.nav-item:hover .nav-link{
  
  color: #2978b5;
  border-bottom: 2px solid #2978b5;
 
}
.presentation {
 
  padding-top: 40px;
  padding-left: 100px;
  color: #cdcdff;
 
  
}
.presentation h2{
  display: inline;
  font-size: 40px;
  background-color:#1e2336 ; 
  
}
.presentation .name{
  color: #90a0d9;
}
.presentation h4{
 
  font-size: 30px;
  background-color:#1e2336; 
  display: inline;
}


/* end header  */
/* skills  */
.skills {
  padding-top: 70px;
  padding-bottom: 70px;
  color: #fff;
  overflow: hidden;
}
.skills .resume{
text-decoration: none;  
padding:15px 30px;
border:none;
font-size: 22px;
font-weight: 800;
border-radius: 7px;
background-color:#cdcdff ;
color: #90a0d9;
}
.skills .resume:hover{
background-color: #23283e;
}
.skills .title {
  color: #cdcdff;
  font-weight: 800;
  font-size: 24px;
  
}

.skills p {
  display: inline;
  padding-right: 20px;
  font-weight: 300;
  font-size: 20px;
}
/* end skills  */
/* project */
.proj {
 position:relative ;
  text-align: center;
  background-color: #23283e;
  padding-bottom: 20px;
  margin-bottom:10px ;
 
}
.proj:hover .see {
opacity: 1;
}
.proj:hover img {
   
 -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5 ease 0s;
  transform: scale(1.2);
     opacity:0;
  }
.proj:hover .proj-description{
    -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5 ease 0s;
  transform: scale(1.2);
    opacity:1 ;
}
.proj-title{
  color:#90a0d9;
  padding-bottom: 30px;
    
}
.proj-name{
  color: #cdcdff;
  padding-top: 15px;
  padding-bottom: 15px;
  height:120px ;
  
}
.proj-description{
    
    height: 300px ;
    opacity:0 ;
    color: #cdcdff;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 600;
    
    
}
.proj .img-box{
    
    opacity:1 ;
    position:absolute;
    overflow: hidden;
}
.proj img {
  width: 100%;
  height: 250px;
}
.proj-lang
{
background-color: red;
color: #222;
font-weight: 400;
margin-top: 20px;
}
.proj .see{
 opacity: 0;
 text-decoration: none;
 font-weight: bold;
 color:#90a0d9;
}
.proj .see i{
  position: relative;
  top:1px
}
/* end project  */
/* contact  */
.contact {
  padding-top: 70px;
  text-align: center;
}
.contact h2{
  color: #444;
  font-size: 40px;
}
.contact .email{
  color: #444;
}
